.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.userSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.friendListContainer {
  margin-top: 20px;
}

.transactionSection {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}
